// app global css in SCSS form
// app global css in SCSS form


body {
  font-family: "QuickSand", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.text-deployed {
  color: #2196f3;
}
.bg-deployed {
  color: #2196f3;
}

.list-enter-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all ease;
}
.list-item {
  transition-delay: 4s;
  transition: all 2s ease;
}
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 4s;
  transition: all 2s ease;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.greenDotIconPulse {
  width: 10px;
  height: 10px;
  opacity: 0.8;
  animation: pulse 3s 1;
  }

.blueDotIconPulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  animation: pulse 3s infinite;
  }

@keyframes pulse {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.1;
    width: 20px;
    height: 20px;
  }
  100% {
    opacity: .8;
  }
}
