// app global css in SCSS form
// app global css in SCSS form


body {
  font-family: "QuickSand", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.text-deployed {
  color: #2196f3;
}
.bg-deployed {
  color: #2196f3;
}

.list-enter-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all ease;
}
.list-item {
  transition-delay: 4s;
  transition: all 2s ease;
}
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 4s;
  transition: all 2s ease;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.pulse-marker {

  border-radius: 50%;
  background: green;
  position: relative;
  animation: pulse 3s 1;
}

.pulse-ring {
  border: 2px solid green;
  border-radius: 50%;
  background-color: transparent;
  animation: pulse 1.5s 1;
  }

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

pulse-ring:nth-child(3) {
  animation-delay: 0.5s;
 }

pulse-ring:nth-child(4) {
  animation-delay: 1s;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
